In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
import sqlalchemy
import sqlite3

In [2]:
# engine = sqlalchemy.create_engine('mysql+pymysql://root:@localhost:3306/Foodie')

In [3]:
engine = sqlite3.connect('db.sqlite3')
cur = engine.cursor()

In [4]:
Blogs =  pd.read_sql_query("SELECT * from jobs_job", engine)
Blogs.head(3)

,job_id,job_title,job_employer,job_position,job_category,job_description,job_phone,job_email,job_website,experience,salary,created,apply_until,user_id,job_location,no_of_vacancy
0,1,Finance Manager,kfc,Manager,finance,"Senior management, executive management, upper...",9860846037,kfc@gmail.com,https://www.kfc.com/,2 years,20000-90999,2021-03-27 03:36:35.626563,2020-12-21,3,kapan,20
1,2,Waiter Wanted,KFC,Waiter,management,Waiters or Waitresses are responsible for taki...,9854456258,kfc@gmail.com,https://www.kfc.com/,2 years,20000-80000,2021-03-31 09:29:16.167350,2022-10-15,3,chabhil,10
2,3,Teacher,Reliance International Academy,"Subject Lead/HOD (Mathematics, Physics)",others,Script writing for your specialized subject as...,014525458,reliance@gmail.com,https://www.daraz.com/,2 years,20000-80000,2021-04-05 01:35:34.131262,2022-10-15,3,kapan,3

In [5]:
Blogs = pd.read_sql_query("SELECT * from jobs_job", engine)
Blogs.rename(columns={
    'job_id': 'job_id',
    'id': 'user_id',
}, inplace=True)
Blogs.head(2)

,job_id,job_title,job_employer,job_position,job_category,job_description,job_phone,job_email,job_website,experience,salary,created,apply_until,user_id,job_location,no_of_vacancy
0,1,Finance Manager,kfc,Manager,finance,"Senior management, executive management, upper...",9860846037,kfc@gmail.com,https://www.kfc.com/,2 years,20000-90999,2021-03-27 03:36:35.626563,2020-12-21,3,kapan,20
1,2,Waiter Wanted,KFC,Waiter,management,Waiters or Waitresses are responsible for taki...,9854456258,kfc@gmail.com,https://www.kfc.com/,2 years,20000-80000,2021-03-31 09:29:16.167350,2022-10-15,3,chabhil,10

In [6]:
User = pd.read_sql_query("SELECT * from auth_user", engine)
User.head(3)

,id,password,last_login,is_superuser,username,last_name,email,is_staff,is_active,date_joined,first_name
0,1,pbkdf2_sha256$260000$URqYdQpykNjdXFBdvxCDH7$Sc...,2021-05-04 13:43:28.284790,1,roshan,,,1,1,2021-03-27 03:11:34.570071,
1,2,pbkdf2_sha256$260000$qbmHz1nTzLN0gJcSnJ90Bv$34...,2021-05-04 14:09:58.284516,0,roshandahal,dahal,roshandahal.r@gmail.com,0,1,2021-03-27 03:12:59.851181,roshan
2,3,pbkdf2_sha256$260000$lNlPZok9IQC7FcyiYOElfj$U3...,2021-05-04 14:03:41.515525,0,astik,dahal,astikdahal.r@gmail.com,1,1,2021-03-27 03:35:20,astik

In [7]:
User = pd.read_sql_query("SELECT * from auth_user", engine)
User.rename(columns={
    'id': 'id'
}, inplace=True)
User.head(2)

,id,password,last_login,is_superuser,username,last_name,email,is_staff,is_active,date_joined,first_name
0,1,pbkdf2_sha256$260000$URqYdQpykNjdXFBdvxCDH7$Sc...,2021-05-04 13:43:28.284790,1,roshan,,,1,1,2021-03-27 03:11:34.570071,
1,2,pbkdf2_sha256$260000$qbmHz1nTzLN0gJcSnJ90Bv$34...,2021-05-04 14:09:58.284516,0,roshandahal,dahal,roshandahal.r@gmail.com,0,1,2021-03-27 03:12:59.851181,roshan

In [8]:
# Blogs = pd.read_sql_table('Jobs',engine)
# Blogs.rename(columns={
#     'id': 'blog_id',
#     'Author_id': 'user_id',
# }, inplace=True)
# Blogs.head(5)

In [9]:
# Reviews = pd.read_sql_table('foodie_review',engine)
# Reviews.rename(columns={
#     'id': 'review_id'
# }, inplace=True)
# Reviews.head(5)

In [10]:
# User = pd.read_sql_table('auth_user',engine, columns=['id', 'username'])
# User.rename(columns={
#     'id': 'user_id'
# }, inplace=True)
# User.head(5)

In [23]:
Joined_Table = pd.read_sql_query("SELECT * from jobs_job AS A INNER JOIN auth_user AS B ON A.user_id = B.id", engine)
Joined_Table.head(3)

,job_id,job_title,job_employer,job_position,job_category,job_description,job_phone,job_email,job_website,experience,...,password,last_login,is_superuser,username,last_name,email,is_staff,is_active,date_joined,first_name
0,1,Finance Manager,kfc,Manager,finance,"Senior management, executive management, upper...",9860846037,kfc@gmail.com,https://www.kfc.com/,2 years,...,pbkdf2_sha256$260000$lNlPZok9IQC7FcyiYOElfj$U3...,2021-05-04 14:03:41.515525,0,astik,dahal,astikdahal.r@gmail.com,1,1,2021-03-27 03:35:20,astik
1,2,Waiter Wanted,KFC,Waiter,management,Waiters or Waitresses are responsible for taki...,9854456258,kfc@gmail.com,https://www.kfc.com/,2 years,...,pbkdf2_sha256$260000$lNlPZok9IQC7FcyiYOElfj$U3...,2021-05-04 14:03:41.515525,0,astik,dahal,astikdahal.r@gmail.com,1,1,2021-03-27 03:35:20,astik
2,3,Teacher,Reliance International Academy,"Subject Lead/HOD (Mathematics, Physics)",others,Script writing for your specialized subject as...,014525458,reliance@gmail.com,https://www.daraz.com/,2 years,...,pbkdf2_sha256$260000$lNlPZok9IQC7FcyiYOElfj$U3...,2021-05-04 14:03:41.515525,0,astik,dahal,astikdahal.r@gmail.com,1,1,2021-03-27 03:35:20,astik

In [12]:
Data = Joined_Table

In [13]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest = train_test_split(Data, test_size=0.2, random_state=1)

In [14]:
print(f"Shape of train data: {Xtrain.shape}")
print(f"Shape of test data: {Xtest.shape}")

print(Xtest.columns)

Shape of train data: (4, 27)
Shape of test data: (2, 27)
Index(['job_id', 'job_title', 'job_employer', 'job_position', 'job_category',
       'job_description', 'job_phone', 'job_email', 'job_website',
       'experience', 'salary', 'created', 'apply_until', 'user_id',
       'job_location', 'no_of_vacancy', 'id', 'password', 'last_login',
       'is_superuser', 'username', 'last_name', 'email', 'is_staff',
       'is_active', 'date_joined', 'first_name'],
      dtype='object')

In [15]:
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
tfidfvec = TfidfVectorizer()
tfidf_recipe_id = tfidfvec.fit_transform(Xtrain['job_category'])
cosine_sim = cosine_similarity(tfidf_recipe_id)

In [17]:
tfidfvec

TfidfVectorizer()

In [18]:
job_id = Xtrain[Xtrain.job_category == "finance"].index

In [19]:
list(Xtrain[Xtrain.job_category == "finance"].index)

[0]

In [27]:
def Recommendations(title):
    index = list(Xtrain[Xtrain.job_category == title].index)
    print(index)
    scores = list(enumerate(cosine_sim[index]))
    similarity_scores = sorted(scores, key=lambda x: x[1], reverse=True)
    similarity_scores = similarity_scores[:1]
    food = [i[0] for i in similarity_scores]
    return Xtrain['job_title'].iloc[food]

In [26]:
Recommendations("webdesign")

[4, 5]

IndexError: index 4 is out of bounds for axis 0 with size 4